h1 {
    color: blue;
    background-color: yellow;
}

body {
    background-color: pink;
}

button {
    background-color: blue;
    color: white;
}
p {
    font-size: 16px;
    line-height: 1.5;
}   